<div class="form-group" [formGroup]="backgroundSettingsForm">

	<div class="row row-cols-3 mb-2 mt-2">
		<!-- background color -->
		<div class="col">
			<label class="form-label text-white">Background Color</label>
			<input
				id="bg-color"
				(change)="setBackgroundColor(backgroundSettingsForm.get('color').value)"
				formControlName="color"
				[value]="backgroundColor"
				type="color"
				class="form-control form-control-color bg-transparent border-0"
			/>
		</div>

		<!-- transparency -->
		<div class="col">
			<label class="form-label text-white">Transparency</label>
			<input
				(change)="setBackgroundTransparency(backgroundSettingsForm.get('transparency').value)"
				formControlName="transparency"
				[value]="backgroundTransparency"
				type="number"
				step="0.05"
				max="1"
				min="0.4"
				class="form-control form-control-sm bg-dark border-secondary text-white w-75">
		</div>

		<!-- window controls -->
		<div class="col">
			<label class="form-label text-white">Window Control Style</label>
			<select class="form-control form-control-sm border-secondary text-white window-style"
			        [value]="windowControlStyles"
			        formControlName="window-control-style"
			        (change)="setWindowControlStyle(backgroundSettingsForm.get('window-control-style').value)"
			>
				<option *ngFor="let controlStyle of windowControlStyles"
				        [ngValue]="controlStyle">{{ controlStyle }}</option>
			</select>
		</div>
	</div>
</div>
