/**
	This file is mostly used for importing bootstrap and styles
	which need to be applied globally.

	See _variables.scss for variable and mixin configurations
*/

@use "~bootstrap/scss/bootstrap";
@import "_variables";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@include noTextDecoration;
@include makeButton;
@include makeSelect;

@font-face {
	font-family: "Hack Nerd Font";
	src: url("./fonts/Hack-Regular.ttf") format("ttf");
	src: url("./fonts/Hack-Italic.ttf") format("ttf");
	src: url("./fonts/Hack-Bold.ttf") format("ttf");
	src: url("./fonts/Hack-BoldItalic.ttf") format("ttf");
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: contain;
	color-rendering: optimizeQuality;
	color-interpolation: sRGB;
	font-feature-settings: "dlig", "liga", "calt" 1;
	font-feature-settings:"kern" 1;
	text-decoration: none !important;
	@include noTextDecoration;
}

.drag { @include allowDrag;}

.noDrag { @include noDrag; }

input, button, .form-control,.form-label, .form-control-sm { @include noDrag;}

// disable the xterm scroll bar
::-webkit-scrollbar { display: none; }

select {
	@include makeSelect;
	&:focus {
		@include noFocusRing;
	}
}

.form-check-input, .form-control, .form-control-sm {
	border-color: transparent;
	&:focus, &:checked {
		@include noFocusRing;
	}
}

.form-label {
	color: white !important;
	font-size: 12px !important;
}



