<div class="d-flex">
	<ul ngbNav #nav="ngbNav"
	    [(activeId)]="active"
	    class="nav-pills drag border-0 position-relative"
	    orientation="vertical"
	    [destroyOnHide]="false"
	    keyboard="changeWithArrows"
	    role="presentation"
	    animation="false"
	>
		<li [ngbNavItem]="i"
		    *ngFor="let tab of (tabContent$ | async); let i = index"
		    class="noDrag"
		>
			<a ngbNavLink
			   [id]="i"
			   class="noDrag mb-3 custom-tab bg-transparent"
			   (click)="emitTabID(i)"
			   (dblclick)="removeTab(i)"
			   [sortablejs]="i"
			>
				{{ i }}
			</a>
			<ng-template ngbNavContent>
				<ng-xterm-split-panel [tabID]="i" [id]="tabToRemove"></ng-xterm-split-panel>
			</ng-template>
		</li>

		<li ngbNavItem>
			<a ngbNavLink
			   (click)="emitTabID('-')"
			   class="noDrag border-0 custom-tab bg-transparent">
				<i class="bi bi-gear-fill"></i>
			</a>
			<ng-template ngbNavContent>
				<ng-xterm-settings></ng-xterm-settings>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav" class="container-fluid"></div>
</div>






