@import "src/styles/variables";

.nav-pills {
	overscroll-behavior: contain;
	margin-left: 2px;
	position: relative;
}

.nav-link {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 30px;
	margin: auto 5px;
	background-color: black;
	border-radius: 5px;
}
.custom-tab, .bi {
	color: grey;
	a.active.nav-link {
		color: whitesmoke;
		background-color: transparent !important;
		//background-color: #471fd6 !important;
	}
}


.bi {
	@include adjustIcons
}

.bi-gear-fill,
.bi-puzzle-fill {
	margin-left: 5px;
}

