@import "src/styles/variables";

* {
	font-family: "Hack Nerd Font", sans-serif;
}

.nav-pills {
	overscroll-behavior: contain;
	margin-top: 2.5rem;
	margin-left: 2px;
	position: relative;
}

.nav-link {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 30px;
	margin: auto 5px;
	background-color: black;
	border-radius: 5px;
}
.custom-tab {
	a.active.nav-link {
		color: whitesmoke;
		//background-color: #471fd6 !important;
	}
}

a.nav-link {
	display: flex;
	justify-content: center;
	color: #5c5c5c;
}

a.active.nav-link {
	color: whitesmoke;
	//background-color: #471fd6 !important;
}

.nav-item {
	text-align: center;
}

.bi {
	@include adjustIcons
}
.bi-gear-fill, .bi-paint-bucket {
	margin-left: 5px;
}
